:root {
  --clr-primary: #0066FF;

  --neutral-100: #FFF;
  --neutral-400: #444;
  --neutral-700: #222;
}


/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3 {
  line-height: 1;
}

body,
h1, h2, h3,
p,
ul, ol {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

input,
button,
textarea {
  font: inherit;
}

a {
  color: inherit;
}

a:hover {
  color: var(--clr-primary);
}

/* General */
body {
  min-height: 100vh;
  line-height: 1.5;
  overflow-x: hidden;
  font-size: .8rem;

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--neutral-100);
  color: var(--neutral-400);
}

@media (min-width: 50em) {
  body {
    font-size: 1rem;
  }
}

/* Utilities */
.container {
  width: min(100% - 2rem, 75rem);
  margin-inline: auto;
  padding-block: 3rem;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 2rem);
}

.text-center {
  text-align: center;
}

/* Components */
.btn {
  cursor: pointer;
  display: inline-block;

  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;

  background-color: var(--neutral-100);
  color: inherit;
  border: none;
}

.btn:where(:hover, :focus) {
  outline: 2px solid var(--clr-primary);
  color: var(--clr-primary);
}

/* Main */
.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

input,
textarea,
button {
  padding: .4em 1em;
  font-weight: 600;
  width: min(100%, 23rem);
  margin-inline: auto;
  border: 0;
  outline: 1px solid var(--neutral-400);
}

.table {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 65rem;
  margin-inline: auto;

  table-layout: fixed;
  border-collapse: collapse;
  border: 2px solid var(--neutral-400);
}

th,
td {
  padding: 10px;
}

tbody td {
  text-align: center;
  max-width: 30ch;
  margin-inline: auto;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/* Footer */
footer {
  padding-block: 2rem;
  background-color: var(--neutral-400);
  color: var(--neutral-100);
}